<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#tree-view" role="tab" aria-controls="profile" aria-selected="true">Tree</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#s-exp-view" role="tab" aria-controls="home" aria-selected="false">S-expressions</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="tree-view" role="tabpanel" aria-labelledby="profile-tab">
    <ul role="tree" id="ast-tree">
    </ul>
  </div>

  <div class="tab-pane fade" id="s-exp-view" role="tabpanel" aria-labelledby="home-tab">
    <textarea id="ast-editor"></textarea>
  </div>
</div>
