<div class="grid-container">
  <div class="grid-item">
    <textarea id="editor">
      while true do
      puts hello
      end
    </textarea>

  </div>
  <div class="grid-item">
    <div id="ast-editor-wrap">
      <pre>
    <code id="ast-editor">
    </code>
      </pre>
    </div>
  </div>
  <div class="grid-item">
    <textarea id="transform-editor">
      class RemoveDo < Parser::TreeRewriter
              def on_while(node)
              # Check if the statement starts with "do"
              if node.location.begin.is?('do')
              remove(node.location.begin)
              end
              end
              end
    </textarea>

  </div>
  <div class="grid-item">
    <textarea id="output-editor">
      if foo then
      bar
      end
    </textarea>
  </div>
</div>
<script>

  const editorOptions = {
    mode: "text/x-ruby",
    matchBrackets: true,
    indentUnit: 2,
    lineNumbers: true,
    theme: 'solarized'
  };

  var editor = CodeMirror.fromTextArea(document.getElementById("editor"),editorOptions );

  function updateAst(code, transform) {
    outputEditor.setValue(code);
    $.ajax({
      url: "/ast",
      type: "post",
      data: { code: code, transform: transform},
      success: function(data) {
        $('#ast-editor').text(data.ast);
        $('#output-editor').text(data.output);
      },
      error: function(data) {}
    })
  }

  editor.on("change",function(cm, change) {
    let code = cm.getValue();
    let transform = transformEditor.getValue();
    updateAst(code, transform);
  });

  var transformEditor = CodeMirror.fromTextArea(document.getElementById("transform-editor"), editorOptions);


  transformEditor.on("change",function(cm, change) {
    console.log('transform change');
    let transform = cm.getValue();
    let code = editor.getValue();
    updateAst(code, transform);
  });

  var outputEditor = CodeMirror.fromTextArea(document.getElementById("output-editor"), editorOptions);


</script>
