<div class="grid-row">
  <div class="grid-col">
    <textarea id="editor">
      # Paste some ruby code here and 
      # check the generated AST on the right
      tips = ["hello", "world"]
      def print_tips
      tips.each { |key, value| print "Tip #{key}: #{value}" }
      end
    </textarea>

    <div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">S-expressions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tree</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <textarea id="ast-editor"></textarea>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%= render "tree-view" %>
        </div>
      </div>
    </div>
  </div>
    <div class="grid-col">

      <textarea id="transform-editor">
        # Your Transform Class should always extend from 
        # Parser:: TreeRewriter
        class Transform < Parser::TreeRewriter
                def on_lvasgn(node)
                # Reverse the variable names
                replace(node.loc.to_hash[:name], node.children[0].to_s.reverse)
                end

                def on_def(node)
                replace(node.loc.to_hash[:name], node.children[0].to_s.reverse)
                end
                end
      </textarea>
      <textarea id="output-editor">
      </textarea>
    </div>
  </div>
