<div id="split-view">
  <div id="split-top-row" class="grid-col">
    <div id="top-left-col">
      <%= render 'source-view' %>
    </div>
    <div id="top-right-col">
      <%= render 'tree-view' %>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div id="split-bottom-row" class="grid-col">
    <div id="bottom-left-col">
      <%= render 'transform-view' %>
    </div>
    <div id="bottom-right-col">
      <%= render 'output-view' %>
    </div>

  </div>
</div>
