<div class="grid-row">
  <div class="grid-col">
    <textarea id="editor">
      while true do
      puts hello
      end
    </textarea>

    <textarea id="ast-editor">
    </textarea>
  </div>
  <div class="grid-col">

    <textarea id="transform-editor">
      class Transform < Parser::TreeRewriter
              def on_while(node)
              # Check if the statement starts with "do"
              if node.location.begin.is?('do')
              remove(node.location.begin)
              end
              end
              end
    </textarea>
    <textarea id="output-editor">
      if foo then
      bar
      end
    </textarea>
  </div>
</div>
