<main class="container-fluid">
  <div class="row">
    <div id="top-left-col" class="col-6">
      <%= render 'shared/source-view' %>
    </div>
    <div id="top-right-col" class="col-6">
      <%= render 'shared/tree-view' %>
    </div>
    <div style="clear: both;"></div>
  </div>
   <div class="w-100"></div>
  <div class="row">
    <div id="bottom-left-col" class="col-6">
      <%= render 'shared/transform-view' %>
    </div>
    <div id="bottom-right-col" class="col-6">
      <%= render 'shared/output-view' %>
    </div>

  </div>
</main>
