/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  overflow: hidden;
}

.dark-theme footer {
  background: #343a40;
  color: #fff;
}

.dark-theme .custom-control-label {
  color: #fff;
}

h1 {
  font-size: larger;
}

header {
  display: grid;
  grid-template-columns: auto 200px;
}

footer {
  text-align: center;
  position:fixed;
  bottom: 0;
  background: #f8f9fa;
  width: 100%;
  z-index: 9999;
  height: 30px;
  line-height: 30px;
}

footer p {
  margin-bottom: 0;
}

.navbar {
  padding: 0 1rem;
}



#tab-wrapper {
  border: 1px solid #dee2e6;
  background: #eee;
}

.tab-content {
  height: calc(100% - 40px);
  overflow: auto;
}

.styled-background {
  background-color: #ff7;
}



.gutter {
  height:100%;
  background: #ddd;
}




#split-view {
  height: calc(100vh - 40px + 30px);
  width: 100%;
}
