/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  overflow: hidden;
}

h1 {
  font-size: larger;
}

header {
  display: grid;
  grid-template-columns: auto 200px;
}

footer {
  text-align: center;
  position:fixed;
  bottom: 0;
  background: #f8f9fa;
  width: 100%;
  z-index: 9999;
  height: 30px;
}

.CodeMirror {
  /*max-height: 48vh;*/
  /*overflow: auto;*/
}

#tab-wrapper {
  border: 1px solid #dee2e6;
  background: #eee;
}

.tab-content {
  max-height: 48vh;
  overflow: auto;
}

.styled-background {
  background-color: #ff7;
}

